* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", serif;
}

#page {
  box-sizing: border-box;
  width: 1120px;
  margin: 88px auto 0;
}

.headline {
  color: #E1624F;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

h1 {
  margin-top: 8px;  
  font-size: 36px;
  line-height: normal;
  margin-bottom: 40px;
}

img {
  border-radius: 28px;
}

p {
  font-size: 16px;
  color: #333333;
}

#header_page img + p {
  margin: 24px 0 40px;
  text-align: center;
  font-style: italic;
}

hr {
  border: 0;
  height: 1px;
  background-color: #D9D9D9;
  width: 100%;
}

main {
  margin-top: 64px;
}

p + h2 {
  margin-top: 2px;
}

h2 + p {
  margin-bottom: 64px;
}

h2 {
  font-size: 32px;
  line-height: 43.6px;
  margin-bottom: 8px;
}

ol {
  margin-bottom: 40px;
}

ol img {
  margin-bottom: 20px;
}

#first_location, #second_location {
  margin-bottom: 48px;
}

ol li::marker, h3 {
  font-size: 28px;
  font-weight: bold;
}

hr + p {
  margin-top: 40px;
  text-align: center;
}

footer {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
  margin: 65px 0 48px;
  text-align: center;
}

testando_git{
  width: 100%;
}








  
